.app__drawing{
    position: relative;
}

.app__drawing_bottom{
    height: 10px;
    width: 250px;
    background: black;
}
.app__drawing_vertical-section{
    height: 400px;
    width: 10px;
    background: black;
    margin-left: 120px;
}

.app__drawing_overhang{
    height: 10px;
    width: 200px;
    background: black;
    margin-left: 120px;
}

.app__drawing_noose-holder{
    height: 50px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;

}

.app__drawing_head{
    width: 76px;
    height: 76px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    left: 278px;
    top: 45px;

}

.app__drawing_body{
    width: 10px;
    height: 100px;
    background: black;
    position: absolute;
    left: 310px;
    top: 116px;
}

.app__drawing_right-arm{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    left: 310px;
    top: 126px;
    rotate: 30deg;
    transform-origin: left bottom;
}

.app__drawing_left-arm{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    left: 216px;
    top: 126px;
    rotate: -30deg;
    transform-origin: right top;
}
.app__drawing_left-leg{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    left: 210px;
    top: 210px;
    rotate: -60deg;
    transform-origin: right top;
}

.app__drawing_right-leg{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    left: 310px;
    top: 205px;
    rotate: 60deg;
    transform-origin: left bottom;
}