@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --main-font: "Inter", sans-serif;
  --primary-color: #91C8E4;
  --secondary-color: #6b82f6;
  --secondary-colorDarker: #43529c;
  --bg-color: #F6F4EB; 
  --incorrect-color: #f84f4f;
  --lightGray-color: #D3D6DA;
  --darkGray-color: #a6a7a9;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

  }